<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="portfolio.nanodegree.android.ntippa.project1" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.MAIN"/>
                <category android:name="ANDROID.INTENT.CATEGORY.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".DetailsActivity"
            android:label="Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="portfolio.nanodegree.android.ntippa.project1.MainActivity" />
            </activity>
        <provider
            android:authorities="portfolio.nanodegree.android.ntippa.project1"
            android:name="portfolio.nanodegree.android.ntippa.project1.data.MovieProvider"
            android:exported="true"
            android:permission="ntippa.myapp.LICENSE_TO_KILL"
            />
    </application>

    <permission
        android:name="ntippa.myapp.LICENSE_TO_KILL"
        android:protectionLevel="dangerous"
        android:label="Licensed to kill">

    </permission>

</manifest>
